<%# <h1> Welcome to Amadeus! </h1> %>

<div class="custom_sidebar">
    <div class="center">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <h3> Category </h3>
            <% @categories.each do |category| %>
            <%= link_to category.name, root_path({"category" => category.name}), class:"btn btn-dark" %>
            <% end %>
        </div>
    </div>
</div>

<div class="custom_content">
    <div class="center">
        <h1> WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWelcome to Amadeus! </h1>
    </div>
</div>

