<div class="fixed custom_sidebar">
  <div class="center">
    <ul class="list-group">
      <br>
      <h3> Categories </h3>
      <br>
      <% @categories.each do |category| %>
          <%= link_to category.name, root_path({ "category" => category.name }),
              class: "list-group-item list-group-item-dark", id: "#{category.name}-edit-button" %>
      <% end %>
    </ul>
  </div>
</div>

<div class="custom_content">
  <% if @category %>
    <h1><%= @category.name %></h1>
  <% else %>
    <h1> <%= "All categories" %> </h1>
  <% end %>
  <hr>
  <div class="list-group">
    <% if !@uploads.empty? %>
      <% @uploads.each do |upload| %>
        <%= render "article_list", upload: upload %>
      <% end %>
    <% else %>
      <em><u>No articles at the moment. Sorry for the inconvenience.</u></em>
  <% end %>
  </div>
</div>

