<div class="center">
  <% if @category %>
    <h1><%= @category.name %></h2>
  <% else %>
    <h1> <%= "All Categories" %> </h2>
  <% end %>
</div>
<hr>
<div class="list-group">
  <% if !@uploads.empty? %>
    <% @uploads.each do |upload| %>
      <%= render "article_list", upload: upload %>
    <% end %>
  <% else %>
    <em><u>No articles at the moment. Sorry for the inconvenience.</u></em>
  <% end %>
</div>


