<%# <h1> Welcome to Amadeus! </h1> %>

<div class="fixed custom_sidebar">
    <div class="center">
        <ul class="list-group">
            <br>
            <h3> Categories </h3>
            <br>
            <% @categories.each do |category| %>
                <% if @selected_category == category.name%>
                    <%= link_to category.name, root_path({"category" => category.name}), class:"list-group-item list-group-item-dark" %>
                <% else %>         
                    <%= link_to category.name, root_path({"category" => category.name}), class:"list-group-item list-group-item-action" %>
                <% end %>
            <% end %>
        </ul>  
    </div>
</div>

<div class="custom_content">
    <% if @category == nil %>
        <h1> Welcome to Amadeus! </h1>
    <% else %>
        <h1> <%= @category.name %> </h1>
        <hr>
        <div id="uploads">
            <div class="list-group">
                <% @uploads.each do |upload| %>
                    <%= render "articlelist", upload: upload %>
                <% end %>
            </div>
        </div>        
    <% end %>
</div>

