<h1> Admin Home Page </h1>

<body> As an admin, you can manage topics and add articles </body>

<div class="d-grid gap-2">
    <a href="/uploads" class="btn btn-primary">Topics</a>
    <a href="/uploads/new" class="btn btn-primary">Upload new file</a>
    <a href="/uploads" class="btn btn-primary">All files</a>
</div>


