<h1> Admin Home Page </h1>

<body> As an admin, you can manage topics and add articles </body>

<div class="d-grid gap-2">
    <a href="/admin/topics" class="btn btn-primary" id="topic-list-link">Topic List</a>
    <a href="/admin/uploads/new" class="btn btn-primary" id="new-upload-link">New Upload</a>
    <a href="/admin/uploads" class="btn btn-primary" id="upload-database-link">Database</a>
</div>


