<h1> Admin Home Page </h1>

<body> As an admin, you can manage categories and add articles </body>

<div class="d-grid gap-2">
    <a href="/admin/topics" class="btn btn-primary" id="tag-list-button" >Tag List</a>
    <a href="/admin/uploads/new" class="btn btn-primary" id="new-upload-button">New Upload</a>
    <a href="/admin/uploads" class="btn btn-primary" id="database-button">Database</a>
</div>


