<h1> Admin Home Page </h1>

<body> As an admin, you can manage categories and add articles</body>

<div class="d-grid gap-2">
  <a href="/" class="btn btn-primary">Home</a>
  <a href="/admin/categories" class="btn btn-primary" id="category-list-button">Category List</a>
  <a href="/admin/uploads/new" class="btn btn-primary" id="new-upload-button">New Upload</a>
  <a href="/admin/uploads" class="btn btn-primary" id="database-button">Database</a>
</div>


