<h1 class="center"> Admin Homepage </h1>
<hr>

<div class="d-grid gap-2">
  <a href="/admin/uploads/new" class="btn btn btn-secondary" id="new-upload-button">
    <span class="bi bi-file-earmark-plus icon-align-left"></span>
    New Upload
  </a>
  <a href="/admin/uploads" class="btn btn-primary" id="database-button">
    <span class="bi bi-archive icon-align-left"></span>
    Uploads Database
  </a>
  <a href="/admin/categories" class="btn btn-primary" id="category-list-button">
    <span class="bi bi-grid icon-align-left"></span>
    Category Bank
  </a>
  <a href="/" class="btn btn-primary">
    User Homepage
    <span class="bi bi-house-door icon-align-left"></span>
  </a>
</div>


