<h1> Admin Home Page </h1>

<body> As an admin, you can manage topics and add articles </body>

<div class="d-grid gap-2">
    <a href="#" class="btn btn-primary", id="set-topics-link">Topics</a>
    <a href="admin/uploads/new" class="btn btn-primary", id="upload-articles-link">Upload new file</a>
    <a href="admin/uploads" class="btn btn-primary", id="edit-articles-link">All files</a>
</div>


