<h1>Editing Tag</h1>

<%= render "form", topic: @topic %>

<br>

<div>
  <%= link_to "Delete", @topic, method: :delete, class: "btn btn-outline-danger", id: "delete-button" %>
  <%= link_to "Return", url_for(:back), class: "btn btn-primary", id: "return-button" %>
</div>
