<div id="<%= dom_id tag %>">
  <p>
    <h1><strong>Name:</strong></h1>
    <%= tag.name %>
    <hr/>
  </p>

  <% tag.taggables.each do |taggable| %>
    <p>Topics:</p>
    <%= render 'posts/post', post: taggable.post %>
    <%= link_to "Read More", taggable.post %>
    <hr />
  <% end %>
</div>