<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <strong>Tags:</strong>
    <% post.tags.each do |tag| %>
      <%= link_to tag, style:"text-decoration:none" do %>
        <span class="tag"><%= tag.name %></span>
      <% end %>
    <% end %>
</div>