/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background: white;
}

.tag {
    background: #201C4C;
    color: #FFF;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: 0.25em;
    display: inline-block;
    float: bottom;
}

.center {
    text-align: center;
}

.custom-main-padding {
    padding: 5% 10% 5% 10%;
}

.custom-inner-padding {
    padding-left: 35%;
    padding-right: 35%;
}

.custom_sidebar {
    position: fixed;
    overflow-y: scroll;
    width: 15%;
    background: #ffffff;
    top: 10%;
    left: 0;
    bottom: 0;
}


.custom_content {
    float: none;
    /* background: rgba(112, 203, 241, 0.812); */
    left: 10%;
    right: 10%;
    overflow: hidden;
    margin-left: 20%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    border: 2px solid rgb(131, 165, 239);
    border-radius: 20px;
    padding: 0.5em;
    width: 100%;
    height: 100%;
}

.edit_button_custom {
    margin-right: 1%;
}

.btn-x {
    float: right;
    padding: 0% 1.5% 0% 1.5%;
}

.btn-group.special {
    display: flex;
  }
  
.special .btn {
    flex: 1
}

.icon-align-left {
    float: left;
    padding: 0% 1.5% 0% 1.5%;
}

.icon-yellow {
    color: #ffc107;
  }

.icon-yellow:hover {
    color: #ca9b00;
}

/* Buttons */
.btn-primary {
    background-color: #201C4C;
    color: white;
    border-color: #201C4C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #201C4C;
    background-color: white;
    border-color: #201C4C;
}

.btn-outline-primary {
    border-color: #201C4C;
    color: #201C4C;
    background-color: white;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    color: #fff;
    background-color: #201C4C;
    border-color: #201C4C;
}

.btn-secondary {
    background-color: #006633;
    color: white;
    border-color: #006633;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #006633;
    background-color: white;
    border-color: #006633;
}

