/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background: white;
}

.tag {
    background: #201C4C;
    color: #FFF;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: 0.25em;
    display: inline-block;
    float: bottom;
}

.center {
    text-align: center;
}

.custom-main-padding {
    padding: 5% 10% 5% 10%;
}

.custom-inner-padding {
    padding-left: 35%;
    padding-right: 35%;
}

.custom_sidebar {
    position: fixed;
    width: 16%;
    background: #201c4c;
    top: 18%;
    left: 0;
    bottom: 0;
}

.custom_category{
    transition: all 0.5s ease 0s;
    background-color:#201c4c;
    text-decoration: none;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    text-align: left;
}
.active{
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px;
}

.side_title{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size:xx-large ;
    color: #FFF;
    text-align: left;
    margin-left: 5%;
}

.custom_content {
    float: none;
    /* background: rgba(112, 203, 241, 0.812); */
    left: 10%;
    right: 10%;
    overflow: hidden;
    margin-left: 20%;
    font-family: "Montserrat", sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    border: 2px solid rgb(131, 165, 239);
    border-radius: 20px;
    padding: 0.5em;
    width: 100%;
    height: 100%;
}

.edit_button_custom {
    margin-right: 1%;
}

.btn-x {
    float: right;
    padding: 0% 1.5% 0% 1.5%;
}

.btn-group.special {
    display: flex;
  }
  
.special .btn {
    flex: 1
}

.icon-align-left {
    float: left;
    padding: 0% 1.5% 0% 1.5%;
}

.icon-yellow {
    color: #ffc107;
  }

.icon-yellow:hover {
    color: #ca9b00;
}

/* Buttons */
.btn-primary {
    background-color: #201C4C;
    color: white;
    border-color: #201C4C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #201C4C;
    background-color: white;
    border-color: #201C4C;
}

.btn-outline-primary {
    border-color: #201C4C;
    color: #201C4C;
    background-color: white;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    color: #fff;
    background-color: #201C4C;
    border-color: #201C4C;
}

.btn-secondary {
    background-color: #006633;
    color: white;
    border-color: #006633;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #006633;
    background-color: white;
    border-color: #006633;
}

#custom.name{
    color: #201c4c;
    font-family: "Montserrat",sans-serif;
}
