<div class=" custom-category-bank-width">
<div class="center d-grid gap-2">
  <h1>Category Bank</h1>
  <hr>
  <div class="btn-group special ">
    <%= link_to "New Category", new_category_path, class: "btn btn-secondary", id: "new-category-button" %>
    <%= link_to "Back to Home", admin_path, class: "btn btn-primary",id: "back-to-home-button"%>
  </div>
  <br>

  <div class="list-group">
  <div id="categories">
    <% @categories.each do |category| %>
        <%= link_to category.name, edit_category_path(category), id:"#{category.name}-edit-button", class: "list-group-item btn-outline-primary"%>
    <% end %>
  </div>
</div>
</div>