<div class="d-grid gap-2">
  <h1 class="no-wrap center">New category</h1><hr>

  <%= render "form", category: @category %>

  <%= link_to "Return", categories_path, class: "btn btn-primary",id: "return-button" %>

</div>
