<h1>New category</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Back to Category List", categories_path, class: "btn btn-primary",id: "back-to-categories-list-button" %>
</div>
