<%= form_with(model: upload) do |form| %>
  <div class="drag-area">
    <%= form.file_field :file, id: :file, class: "custom-file-input", accept: '.zip', :required => 'required' %>
  </div>

  <div>
    <%= form.submit "Upload", id: "upload-button" %>
  </div>

<% end %>
