<%= turbo_frame_tag dom_id(uploadlink.topic) do %>
<div>

  <div class="list-group-item flex-column align-items-start">
    <%= uploadlink.topic.name%>
    <%= link_to "X", uploadlink, method: :delete,
              class: "btn btn-outline-danger btn-x",
              id: "#{uploadlink.topic.name}-delete-button" %>
  
  </div> 
              
</div>
<% end %>