<%= form_with(model: upload) do |form| %>
  <div class="d-grid gap-2">

    <%= form.file_field :file, id: :file, class: "form-control", accept: '.zip', :required => 'required' %>
  
    <%= button_tag(type: "submit", class: "btn btn-success", id: "upload-button") do %>
        Upload <i class="bi bi-upload icon-align-left"></i>
    <% end %>    

  </div>
<% end %>