<div id="<%= dom_id upload %>">
  <div style="width: 100%; display: table;">
    <div style="display: table-row">
      <div style="width: 200px; display: table-cell;">
        <div style="display: table-cell;"> <%= render 'uploads/attachment', upload: upload %> </div>
      </div>

      <div style="display: table-cell;">
          <%#= <strong>Topics:</strong> #%>
            <% upload.topics.each do |topic| %>
              <%= link_to topic, style:"text-decoration:none" do %>
                <span class="tag"><%= topic.name %></span>
              <% end %>
            <% end %>
        </div>  
      </div>

    </div>
  </div>
  <hr style="width:100%", size="5", color=black>
</div>

