<p style="color: green"><%= notice %></p>

<div class="center">
  <h1>Database</h1>
  <%= link_to "New Upload", new_upload_path, class: "btn btn-success", id: "new-upload-button" %>
  <%= link_to "Back to Home", admin_path, class: "btn btn-primary", id: "back-to-home-button" %>
</div>
<br><br>

<div style="width: 100%; display: table;">
  <div style="display: table-row">
    <div style="width: 10%; display: table-cell;">
      <p>
        <strong>Category</strong>
      </p>
    </div>
    <div style="width: 60%; display: table-cell;">
      <p>
        <strong>Article</strong>
      </p>
    </div>
    <div style="width: 25%; display: table-cell;">
      <p>
        <strong>Tags</strong>
      </p>
    </div>
  </div>
</div>

<div id="uploads">
  <% @uploads.each do |upload| %>
    <%= render upload %>
  <% end %>
</div>




