<p style="color: green"><%= notice %></p>

<h1>Upload Database</h1>

<br>
<%= link_to "New Upload", new_upload_path, class: "btn btn-success", id: "new-upload-button"%>

<div id="uploads">
  <% @uploads.each do |upload| %>
    <%= render upload %>
<!--    <p>-->
      <%#= link_to "Show this upload", upload, class: "btn btn-outline-secondary btn-sm" %>
<!--    </p>-->
  <% end %>
</div>


