<h1 class="center">New Upload</h1>
<hr>
<p>Select a zip file to upload:</p>

<div class="d-grid gap-2">
  <%= render "new_form", upload: @upload %>
  <a href="/admin/uploads" class="btn btn-outline-primary" id="back-to-database-button">
    <span class="bi bi-upload icon-align-left"></span>
    Uploads Database
  </a>
  
  <%= link_to  admin_path, class: "btn btn-outline-primary", id: "back-to-home-button" do %>
    <span class="bi bi-person-circle icon-align-left"></span>
    Admin Homepage
  <% end %>

</div>



