<h1>New Upload</h1>

<%= render "form", upload: @upload %>

<br>

<div>
  <%= link_to "Back to Database", uploads_path, class: "btn btn-primary", id: "back-to-database" %>
  <%= link_to "Back to Home", admin_path, class: "btn btn-primary", id: "back-to-home" %>
</div>
