<div class="flash-messages">
  <% flash.each do |type, message| %>
      <div class="alert alert-dismissible fade show <%= type == 'danger' ? 'alert-danger' : 'alert-success' %>" role="alert">
        <%= message %>
      </div>
  <% end %>
</div>